figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

figure img {
  height: 200px;
  width: 200px;
}
