:root {
  --main-color: #235bb5;
  --accent-color: #d9a626;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

/* HEADER */
header {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
<<<<<<< HEAD
  height: 20vh;
  align-items: center;
=======
  grid-row: 1/2;
>>>>>>> 97f852d07d2daa889ed057266b2411d2d08ff985
}

#logo {
  grid-column: 1;
  cursor: pointer;
}

#headerNav {
  grid-column: 3/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
<<<<<<< HEAD
  background-color: var(--accent-color);
  height: 100%;
}

#headerNav a {
  color: var(--main-color);
=======
  font-size: 1.5em;
  color: var(--accent-color);
>>>>>>> 97f852d07d2daa889ed057266b2411d2d08ff985
  font-weight: bolder;
}

#headerNav * {
  cursor: pointer;
}

/* MAIN CONTENT */
main {
  grid-row: 2/6;
  display: flex;
  width: 100%;
  height: 100%;
}

iframe#contentFrame {
  width: 100%;
  height: 100%;
  border: none;
}

/* FOOTER */
footer {
  grid-row: 6/7;
  background-color: var(--main-color);
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
}

hr {
  width: 85%;
}
