body {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.mainDiv {
  box-sizing: border-box;
  height: 40vh;
  border: 2px dotted black;
  padding: 1%;
}

.mainDiv div {
  box-sizing: border-box;
  height: 47%;
}

.orange {
  background-color: #ff7f50;
}

.blue {
  background-color: #6495ed;
}
